body{
    margin: auto;
}

a{
    text-decoration: none;
}

/* header CSS */
header{
    height: 80px;
    background-color:#3b2632;
    /* border: 5px solid red; */
}
#brand{
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:1%;
    margin-top:1%;
    float:left;

}

#social{
    float: right;
    margin-right:1%;
    margin-top:1%;
}

.sociallogo{
    height: 50px;
    
}
/* search CSS */
#search{
    height: 400px;
    border: 5px solid green;
}
/* quicksearch CSS */
#quicksearch{
    height: 600px;
    border: 5px solid burlywood;
}
/* footer CSS */
footer{
    height: 80px;
    border: 5px solid rgb(45, 22, 222);
}