body{
    margin: auto;
}

a{
    text-decoration: none;
}

/* header CSS */
header{
    height: 80px;
    background-color:#3b2632;
    /* border: 5px solid red; */
}
#brand{
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:1%;
    margin-top:1%;
    float:left;

}

#social{
    float: right;
    margin-right:1%;
    margin-top:1%;
}

.sociallogo{
    height: 50px;
    
}
/* search CSS */
#search{
    height: 400px;
    background-image:url(images/foodWallpaper.png);
    background-repeat:no-repeat;
    /* background-size:cover; */
    background-size:100% 560px;
    /* border: 5px solid green; */
}
#logo{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 3%;
    position: absolute;
    font-size:90px;
    

}

#logo span{
    margin-left:25%;
    margin-top:15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
}

#heading{
    font-size:60px;
    color:white;
    margin-left:30%;
    margin-top:15%;
    position:absolute;

}

#dropdown{
    width: 50%;
    /* border:2px solid white; */
    height:60px;
    margin-left:26%;
    margin-top:20%;
    position:absolute;
}
select{
    background-color:white;
    height: 60px;
    width: 40%;
    text-align:center;
    font-size: 20px;
}

#restaurant{
    width:59%;

}

/* quicksearch CSS */
#quicksearch{
    height: 600px;
    width: 80%;
    margin-left:10%;
    margin-top:2%;
    margin-bottom:2%;
    /* border: 5px solid burlywood; */
}

#quickheading{
    color: #3b2632;
    font-weight: bold;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:block;
    margin-left: 2%;


}

#quicksubheading{
    color: rgb(203, 129, 38);
    font-size: 20px;
    margin-left: 2%;
    line-height: 2;
}

.tilecontainer{
    
    height: 180px;
    width: 30%;
    margin-left: 2%;
    margin-top: 3%;
    /* border: 2px solid red; */
    float: left;
    box-shadow: 10px 20px 10px #885e76;
}

.tilecomp1{
    width: 52%;
    
    float: left;
    /* background-color:blue; */

}

.tilecomp1>img{
    height: 180px;
    width:100%;
    float: left;
    
}

.tilecomp2{
    height: 180px;
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-top:18%;
    
}

.compHeading{
    color:#3b2632;
    font-size: 25px;
    font-weight: bold;
}

.compHeading>a{
    color:#3b2632 !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.compSubheading{
    color:rgb(156, 154, 154);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer CSS */
footer{
    height: 80px;
    background-color: #3b2632;
    color: white;
    /* border: 5px solid rgb(45, 22, 222); */
}

.footDiv{
    float:left;
    color: white;
    text-align: center;
    height: 50px;
    width: 32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noborder{
    border:none;
}