body{
    margin: auto;
}

a{
    text-decoration: none;
}

/* header CSS */
header{
    height: 80px;
    background-color:#3b2632;
    /* border: 5px solid red; */
}
#brand{
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:1%;
    margin-top:1%;
    float:left;

}

#social{
    float: right;
    margin-right:1%;
    margin-top:1%;
}

.sociallogo{
    height: 50px;
    
}

/*  main content*/

#main{
    width: 85%;
    margin-left: 8%;
    margin-top: 2%;
    display: inline-block;
    /* border: 2px solid red; */
}

#imageDiv{
    width: 45%;
    height: 500px;
    border: 5px groove #3b2632;
    float: left;
}

#imageDiv> img{
    width: 100%;
    height: 500px;
}

#content{
    width: 48%;
    height: 600px;
    margin-left: 20px;
    border: 2px solid rgb(224, 11, 192);
    float: left;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.feature_container{
    width: 100%;
    display: inline-block;
  
}

figure{
    float: left;
    margin-left: 5%;
}



.featureIcon{
    width: 100px;
    height: 100px;
    
}





/* footer CSS */
footer{
    height: 80px;
    background-color: #3b2632;
    color: white;
    /* border: 5px solid rgb(45, 22, 222); */
}

.footDiv{
    float:left;
    color: white;
    text-align: center;
    height: 50px;
    width: 32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noborder{
    border:none;
}